* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif!important;
}

.navbar {
  background-color: rgba(248, 249, 250, 0.5);
}

footer {
  background-color: rgb(255, 232, 236);
}

footer .copyright {
  background-color: rgb(255, 72, 72);
}

/* Homepage */
.hero-section {
  background-color: #f8f9fa;
}

.feature-section {
  background-color: #e9ecef;
}

.menu-section {
  background-color: #ced4da;
}

.category-section {
  background-color: #dee2e6;
}

/* Register */
.register-section {
  background-color: #9A616D;
}